{% extends "base.html" %}

{% block sidebar-right%}
<h2> State of Secwepemctsín </h2>
<p>
We have about 300 fluent speakers,
We have 500 semi-fluent speakers, and about 800 in various stages of learing.
According to First Voices.
</p>

<h2>Development</h2>
We are currently in the development phase, and things will change quickly.
If you have an issues.  You can submit them <a
	href="http://github.com/neskie/secwepemctsnem/issues">here</a>.  You
can also read more on the <a
	href="http://wiki.github.com/neskie/secwepemctsnem/">wiki</a>.

<h2>Releases</h2>
We are currently in the development phase.

<h2>Todo List</h2>
<ul>
	<li>Secure Red5 Server</li>
	<li>Make solr server more robust</li>

</ul>

{% endblock %}

{% block content %}
<h1>About</h1>

<p> This website is a place to help you learn Secwepemctsin.  It is designed
for novice speakers to fluent speakers.  You can add your own audio for words,
sentences and phrases.  </p>

<h1>Adding Words</h1>
<p>Add new words that aren't in the list.  You can add audio files to words
that don't already have them.  If you need a digital recorder you can use the
mic on your computer or laptop or you could purchase one. <a href="http://transom.org/tools/recording_interviewing/200703_recorder_reviews/">Transom</a>
has a good comparision chart.  </p>

<p>You can record your voice using a program called <a href="http://audacity.sourceforge.net">Audacity</a>.  It is free and available for Windows, Mac and Linux.</p>

<p> This site was developed using Django. You can download the Source code on
<a href="http://github.com/neskie/secwepemctsnem">github</a>.</p>

<p> We have a lot of work to revitalize Secwepemctsin.  Let's make it fun.
We'll work hard and play hard.  </p>


{% endblock %}
