<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
{% block meta %}
{% endblock %}
<meta property="fb:admins" content="555752650" />
<meta name="google-site-verification" content="zbpuXPzlMsHLxL8adeQKeov9c0tJmiMvh6h5l0mx-Vw" />
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{% block title %}Secwepemctsin Words{% endblock %}</title>
<style type="text/css">
</style>
<link rel="StyleSheet" href="{{MEDIA_URL}}css/style.css" type="text/css" /> 
<link rel="StyleSheet" href="{{MEDIA_URL}}css/menu_style.css" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/23736.css" />
{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16872690-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="menu-wrapper" style="width:100%;background-color:#343434;height:31px">
  <div id="menu" class="container_12">
    <div class="grid_8">
    <ul>
        <li style="margin-left:-20px"><a href="/about">About</a></li>
        <li><a href="/words">Words</a></li>
        <li><a href="/search">Search</a></li>
        {% if user.is_superuser %}
        <li><a href="/admin">Admin</a></li>
        {%endif %}
        {% if user.is_anonymous %}
        <li><a href="/accounts/login">Login</a></li>
        {%endif %}
        {% if user.is_authenticated %}
        {% if user.get_profile %}
        <li><a href="/accounts/profile/{{user.username }}">{% firstof user.get_full_name user %}</a></li>
        {%else %}
        <li><a href="/accounts/profile/create">{% firstof user.get_full_name user %}</a></li>
        {%endif %}
        <li><a href="/logout">Logout</a></li>
        {%endif %}
    </ul>
  </div>
  <div class="grid_4">
    {% block "nav-search" %}
{% include "search/search_block.html" %}
{% endblock %}
  </div>

  </div>
  </div>

<div id="header-wrapper" style="width:100%;background-color:#AAA">
<div id="header" class="container_12" >
  <div id="site-title" class="grid_6">
    <a href="/" style="margin-left:0px;color:#000">
      <img alt="Secwepemctsnem" style="border:0px;margin-top:5px;margin-bottom:5px" src="{{ MEDIA_URL }}images/secwepemctsnem.png"/></a>
  </div>
  <div id="messages" class="grid_6">
<p class="grid_3 alpha">
<em>Word of the Day</em><br/>
{%include "word/random.html" %}
</p>
  </div>

    
</div> <!-- End Header -->
  </div>
<div id="content" class="container_12">

<div id="main-content" class="grid_8 ">
{% block content %}
this is content
{% endblock %}
</div>


<div id="sidebar-right" class="grid_4 ">
{% block sidebar-right %}
{% endblock %}
</div>

</div>

<div id="footer-wrapper"
  style="height:80px;width:100%;clear:all;background-color:#A2A2A2;clear:both;">
<div id="footer" class="container_12">
{% block footer %}
<div id="dp" class="grid_4 ">
<p>
<a href="http://www.djangoproject.com/"><img
  src="http://media.djangoproject.com/img/badges/djangosite100x25_grey.gif"
  style="border:0;" alt="A Django site." title="A Django site." /></a>
</p>
</div>

<div id="cpr" class="grid_4 ">
<p>
Project Copyright 2009 Neskie Manuel <br />
Everything else to the source.
</p>
</div>

<div id="gh" class="grid_4 ">
<p>
<a href="http://github.com/neskie/secwepemctsnem"><img style="height:25px;border:0px;"
  alt="github.com" src="https://github.com/images/modules/header/logov3.png"/></a>
</p>
</div>
    {% endblock %}
</div>
</div>
</body>
</html>
