{% extends "word/index.html" %}
{% load word_tags %}
{% block scripts %}
<script type="text/javascript" src="/media/js/jquery-min.js"></script> 
<script type="text/javascript" src="http://jquery.com/files/social/js/jquery.tabs.js"></script> 
{% endblock %}

{% block content %}
<h2>{{title}}</h2>

There are {{ words.paginator.count }} word{{ words.paginator.count|pluralize }} with audio attached to them.
{% if object_list %}
<table id="table-listing">
<tr>
<th>Secwepemc</th>
<th>English</th>
<th>Audio</th>
</tr>
{% for word in object_list %}
    <tr class="{% cycle "odd" "even" %}">
	<td><a href="{{word.get_absolute_url}}">{{ word.secwepemc }}</a></td>
	<td><a href="{{word.get_absolute_url}}">{{ word.english }}</a></td>
	<td>{% load render %}{% render_object word for "xspf-tiny" %}
	    {% for a in word.audiofile.all %}
	    <a href="{{MEDIA_URL}}{{a.audiofile}}"><img alt="Download" src="/media/images/download.png"/></a>
	    {% endfor %}
	</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No words are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if words.has_previous %}
            <a href="?page={{ words.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ words.number }} of {{ words.paginator.num_pages }}.
        </span>

        {% if words.has_next %}
            <a href="?page={{ words.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
