{% extends "word/index.html" %}

{% load word_tags %}
{% block scripts %}
<script type="text/javascript" src="/media/js/jquery-min.js"></script> 
<script type="text/javascript" src="http://jquery.com/files/social/js/jquery.tabs.js"></script> 
{% endblock %}

{% block content %}
<h2>{{title}}</h2>


{% if words %}
<table id="table-listing">
	<tr>
		<th>Secwepemc</th>
		<th>English</th>
		<th>Audio</th>
	</tr>
    {% for word in words.object_list %}
    
    <tr class="{% cycle "odd" "even" %}">
	    <td><a href="/words/{{word.id}}">{{ word.secwepemc }}</a> </td>
	    <td><a href="/words/{{word.id}}">{{ word.english }}</a></td>
	    <td>{% for a in word.audiofile.all %}
		    <a href="/words/audioplayer/{{a.id}}/download"><img alt="Download" src="/media/images/download.png"/></a>
<object type="application/x-shockwave-flash" width="17" height="17" data="http://language.secwepemcradio.ath.cx/media/xspf_player/button/musicplayer.swf?playlist_url=http://language.secwepemcradio.ath.cx/{% url word.views.detail word.id %}?xspf=1">
<param name="movie" value="http://language.secwepemcradio.ath.cx/media/xspf_player/button/musicplayer.swf?playlist_url=http://language.secwepemcradio.ath.cx/{% url word.views.detail word.id %}?xspf=1" />
<param name="wmode" value="transparent" />
</object>
    {% endfor %}
	    </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No words are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if words.has_previous %}
            <a href="?page={{ words.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ words.number }} of {{ words.paginator.num_pages }}.
        </span>

        {% if words.has_next %}
            <a href="?page={{ words.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
