{% extends "word/index.html" %}
{% load word_tags %}

{% block content %}
<h2>{{title}}</h2>
{%if error %}
{{error}}
{%else%}
There are {{tag.items.count}} words in this category.<br />
<a href="pdf">Download PDF</a>
<a href="excel">Download Excel</a>

{% load tagging_tags %}
{% tagged_objects tag in word.Word as tagged %}
    <ul>
    {% for object in tagged %}
    <li><a href="/words/{{ object.id }}">{{ object }}</a> - {{ object.english }}
    {%if object.audiofile.all %} 
    <img style="width:15px;" src="/media/images/iconspeaker.png" alt="Has Audio"/>
    {%endif%}
    </li>
    {% endfor %}
    </ul>
</p>

{%endif%}
{% endblock %}
