{% extends "base.html" %}
{% block sidebar-right%}
{% include "search/search_block.html" %}
<h2>Flash Recording </h2>
<p>
The idea for recording audio from flash came from <a
	href="http://fms.denniehoopingarner.com/">here</a>.
</p>
{% block styles %}
	<style type="text/css">
	
		#recorderDIVHolder{
			border-color: #cccc99;
			border-width: 1px;
			border-style: solid;
			width: 323px;
			height: 150px;
		}
		.link {
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
		#leftDIV{
			float: left;
			width: 66%;
		}
		#rightDIV {
			float: left;
			margin-left: 10px;
			padding: 5px;
			width: 200px;
			color: #aaaaaa;
			background-color: #f4f4f4;
		}
	</style>
{% endblock %}

{% endblock %}
{% block scripts%}
<script src="/media/scripts/swfobject.js"></script>
	
<script>
	function createRecorder(id, server){
		var mySnd = "{{ip}}_{{port}}_{{filename}}";
		
		var flashvars = {};
		flashvars.mySound=mySnd;
		flashvars.myServer = server;
		flashvars.timeLimit = 20;

		var parameters = {};

		var attributes = {};
		attributes.id = "audioRecorder";
		attributes.name = "audioRecorder";

		swfobject.embedSWF("/media/scripts/audioRecorder.swf", id, "323", "150", "10", "scripts/expressInstall", flashvars, parameters, attributes);		
	}
</script>
{% endblock %}

{% block content %}
<h3>Record <a href="{{ word.get_absolute_url }}" title="{{ word.english }}">{{ word.secwepemc }}</a> in Secwepemctsín</h3>
Instead of recording an audio file and uploading it if you have a flash
enabled browser and a microphone.  You can record a word right now and submit
it.

<div style="width:590px;">
<fieldset>
	<legend>Click on LOAD to start recording. Once you're done, wait a few
	seconds and click submit.</legend> 
<div id="recorderDIVHolder" style="width:385;margin:0 auto;">
<span class="link" id="recorderDIV" onclick="createRecorder(this.id, 'rtmp://secwepemcradio.ath.cx/oflaDemo')">LOAD</span>
</div>
</fieldset>
</div>
<form action="{% url word.views.recorder %}?word_id={{word.id}}" method="post">
<table>
{{ form }}
<tr><td><input type="submit" value="Submit" /></td></tr>
</table>
</form>



{% endblock %}
