{% extends "base.html" %}
{% block meta %}
{% include "word/word_graph.html" %}
{% endblock %}

{% block scripts %}
	<script src="/media/scripts/swfobject.js"></script> 
	<script> 
	function loadSound(id, file, server){
    	var flashvars = {};
		flashvars.file=file;
		flashvars.streamer = server;
 
		var parameters = {};
 
		var attributes = {};
		attributes.id = "audioPlayer";
		attributes.name = "audioPlayer";
 
	    swfobject.embedSWF("/media/scripts/player.swf", id, "200", "20", "9.0.0", "scripts/expressInstall", flashvars, parameters, attributes);		
	}
</script>
{% endblock %}

{% block sidebar-right %}
{% include "search/search_block.html" %}
<div id="word-image">
	{%if  word_obj.imgfile.all %}
	<img src="/media/{{word_obj.audiofile.all|random}}"/>
	{% else %}
	<p><a href="/admin/word/imagefile/add">Add an Image</a>.</p>
	{%endif%}
</div>

<div id="word-audio">
	{%if word_obj.audiofile.all %}
	{% for afile in word_obj.audiofile.all %}
	<p><a href="/words/audioplayer/{{afile.id}}" target="audioplayer">Play</a></p>
{%endfor%}
	{% else %}
	<p><a href="/admin/word/audiofile/add/">Upload an Audio File</a>.</p>
	{%endif%}
</div>
<p>

You can <a href="/words/recorder?word_id={{word_obj.id}}">record a word</a>.
{% if flashfile %}
<div id="player1">Stream a FLV file: <span class="link" id="flvDIV" onclick="loadSound(this.id, '{{flashfile}}', 'rtmp://secwepemcradio.ath.cx/oflaDemo')">LOAD</span></div> 
</p>
{%endif%}
{% if user.is_superuser %}
<ul>
	<li><a href="/admin/word/word/{{word_obj.id}}">Edit</a></li>
</ul>
{% endif %}
<p>
<b>Tags</b>
{% if user.is_superuser %}
<a  href="/admin/tagging/taggeditem/add?object_id={{word_obj.id}}&content_type={{word_type.id}}">+</a><br />
{% endif %}
</p>
{% endblock %}

{% block content %}
{% if word_obj %}
{% load render %}
{% render_object word_obj  %}

{% else %}
<p>No words are available.</p>
{% endif %}
{% load tagging_tags %}
{% tags_for_object word_obj as wordtags %}
{%for category in wordtags %}
<a  href="/words/browse/category/{{category.id}}">{{category}}</a>
{%endfor%}

{% endblock %}
