{% extends "word/index.html" %}
{% load word_tags %}
{% block content %}

{% ifequal letter '' %}
<h2>Browse by Alphabet</h2>
{% else %}{% if dialects %}
<h2>{{dialects }}</h2>
{% else %}
<h2>{{title}}</h2>
{% endif %}
{% endifequal %}

<div style="margin:5px auto;width:500px;text-align:center;">
{%for letter in alphabet %}
<a href="{% url word.views.alphabet letter%}">{{letter}}</a>{% if not forloop.last%} - {% endif %}
{%endfor%}
</div>

<p>There are {{ page_obj.paginator.count }} word{{ page_obj.paginator.count|pluralize }}
{% if letter %}starting with {{ letter}}{% endif %}

</p>
    <ul>
    {% for object in object_list %}
    <li><a class="secwepemcword" href="/words/{{object.id}}">{{ object.secwepemc }}</a> - {{ object.english }}
    {%if object.audiofile_set.all %} 
    <img style="width:15px;" src="/media/images/iconspeaker.png" alt="Has Audio"/>
    {%endif%}
    </li>
    {% endfor %}
    </ul>

    <div class="pagination" style="text-align:center">
        <span class="current">
    </span><br/><br/>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
	{{page_obj.number|pagelist:page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    {% if request_detail %}
    <a href="pdf">PDF</a>
    <a href="excel">Excel</a>
    {%endif%}
{% endblock %}
