{% extends "word/index.html" %}
{% load word_tags %}


{% block content %}
<h2>{{title}}</h2>
    <ul>
    {% for object in object_list %}
    <li><a href="/words/{{object.id}}">{{ object.secwepemc }}</a> - {{ object.english }}
    {%if object.audiofile.all %} 
    <img style="width:15px;" src="/media/images/iconspeaker.png" alt="Has Audio"/>
    {%endif%}
    </li>
    {% endfor %}
    </ul>

    <div class="pagination" style="text-align:center">
        <span class="current">
    </span><br/><br/>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
	{{page_obj.number|pagelist:page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    {% if request_detail %}
    <a href="pdf">PDF</a>
    <a href="excel">Excel</a>
    {%endif%}
{% endblock %}
