<object type="application/x-shockwave-flash" width="17" height="17"
	        data="http://language.secwepemcradio.ath.cx/media/xspf_player/button/musicplayer.swf?playlist_url=http://language.secwepemcradio.ath.cx{{object.get_absolute_url}}/xspf/">
		<param name="movie"
		value="http://language.secwepemcradio.ath.cx/media/xspf_player/button/musicplayer.swf?playlist_url=http://language.secwepemcradio.ath.cx{{object.get_absolute_url}}/xspf/"
		/>
		<param name="wmode" value="transparent" />
	</object>  

