#id_q{
width:400px;
height:30px;
color:#777;
}

.play-button {
  width:17px;margin:0 auto;
}

table.word-search-results {
  width:99%;
  margin: 5px 5px;
}
table.word-search-results tr, table.word-search-results tr td{
  font-family: "Aboriginal Sans";
  font-size:13px;
}

table#search-block {
  width:95%;
}
