body {
  font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background-color:#555;
  color: #000;
  padding:0;
  margin:0;
}

body {
  background:#eee;
  color:#333;
  font: "Lucida Grande","Bitstream Vera Sans",Verdana,sans-serif; }

div#header, div#site-title, div#messages{
height:63px;
vertical-align: bottom;
}

div#footer {
  margin-top:50px;
  height:80px;
  text-align: center;
  clear:both;
  background: #A2A2A2;
}

div#sidebar-left {
  margin-top:1em;
}

div#five-random-words ul {
}
div#ive-random-words ul li {
  margin-bottom:10px;
}
div#form {
  width:50%;
  float:right;
}
div#greetings {
  width:50%;
  float:left;
}
h1 {
  font-size:1.8em;
  color:#666;
  font:"Trebuchet MS", "Lucida Grande","Bitstream Vera Sans",Verdana,sans-serif;
}

h1 a {
  color:#666;
  text-decoration:none;
}

a.category{
  text-decoration:none;
  background-color:red;
  color:white;
  padding:5px;
}

#word-image,#word-audio {
  margin: 3px;
  width:120px;
  min-height:120px;
  text-align:center;
  margin-left:  auto;
  margin-right:  auto;
  border:1px;
  border-style:solid;
  -moz-border-radius:15px;
  -webkit-border-radius: 15px;
}
#word-image p,#word-audio p {
  padding-top:40px;
}
#word-image p a,#word-audio p a {
  text-decoration:none;
}
div.pagination {
  width:500px;;
  margin:10px auto;
  text-align:center;
}
table#table-listing {
  width:100%;
  text-align:center;
}
tr.odd {
  color:#fff;
  background-color:#000;
}

tr.even {
  background-color:#ddd;
}

tr.odd a {
  color:#fff;
}

tr.even a {
  color:#000;
}
ul.pagelist li {
  list-item:none;
  display:inline;
  padding:5px;
  margin:0 4px;
  border-style:solid;
  border-width:1px;
  border-color:#000;
}
ul.pagelist{
  display:inline;
  margin:0;
  padding:0;
}

#login-form, #login-form table{
  width:300px;
  margin: 0 auto;
}

.blogposts table {
  margin-left:-100px;
}

.secwepemcword {
  font-family:"Aboriginal Sans","Geneva","Tahoma","Palatino";
}
