.tag-1 {
    font-size: 12px;
}

.tag-2 {
    font-size: 13px;
}

.tag-3 {
    font-size: 14px;
}

.tag-4 {
    font-size: 15px;
}

.tag-5 {
    font-size: 16px;
}

.tag-6 {
    font-size: 17px;
}

/* For large tag cloud 6 step */
.tag-7 {
    font-size: 18px;
}

.tag-8 {
    font-size: 19px;
}

.tag-9 {
    font-size: 22px;
}
