<h1>{{object}}</h1>

<div style="clear:both" class="grid_3 alpha"><b>English:</b></div>
<div class="grid_5 omega">{{object.english}}</div>

<div style="clear:both" class="grid_3 alpha"><b>Dialect:</b></div>
<div class="grid_5 omega">{{object.dialect}}</div>
{% if object.audiofile.all %}
{% load render %}
<div class="grid_3 alpha">AudioFile</div>
<div class="grid_5 omega">
{% render_object object for "xspf" %}
{% for audio in object.audiofile.all %}
{{audio.description }}
<a href="/media/{{audio.audiofile}}">Download</a>
<a href="{{audio.get_absolute_url}}">link</a>
{%endfor%}
</div>
{% else %}
<div class="grid_3 alpha"><b>Suggestion</b></div>
<div class="grid_5 omega">
Would you like to record a word?
</div>
{% endif %}

