{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}
{% load markup %}
{{ flatpage.content|textile }}
<div class="grid_4 alpha">{% include "word/latest-word.html"%}</div>
<div class="grid_4 omega">{% include "word/latest-audio.html"%}</div>
{% endblock %}
{% block sidebar-right%}
<h2> Weytk </h2>
<p>
Registration will be coming soon so you can add your own words and sounds to
this site. 
</p>
{% load cache %}
{% load common_tags %}
<h2>Secwepemctsín in the News</h2>
<a href="http://news.google.ca/news?q=secwepemctsin&um=1&hl=en&ie=UTF-8&output=rss">link</a>
{% pull_feed 'http://news.google.ca/news?q=secwepemctsin&um=1&hl=en&ie=UTF-8&output=rss' %}
{% endblock %}
