<object type="application/x-shockwave-flash"
data="/sites/all/modules/audio/players/1pixelout.swf" width="290" 
height="24" > 
<param name="movie" 
value="/media/xspf_player/1pixelout.swf" /> 
<param name="wmode" value="transparent" /> 
<param name="menu" value="false" /> 
<param name="quality" value="high" /> 
<param name="FlashVars" value="soundFile={{ MEDIA_URL }}{{object.audiofile}}" /> 
<embed 
src="/media/xspf_player/1pixelout.swf"
flashvars="soundFile={{ MEDIA_URL }}{{object.audiofile}}" width="290" 
height="24" /> 
</object> 
